strict_env
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-45871425a44c7fca05e4bce70eb9425db90e42bcb09b41c3bf556360668919d3"
fi
use flake
